body{
    font-family: 'Poppins', sans-serif;}  
h1{
    font-size:50px ;
}
h2{ 
    font-size: 40px;
    p{
        color: dimgray;     }
}
.name-heighlight{
    color: rgb(116, 116, 116);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
}
.half-width img{ 
    width:100%;
}

section{
    height: 500px
    padding-bottom: 150px;

}
.link-button {
    text-decoration: none ;
    background-image: linear-gradient(45deg, lightsalmon), tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(116, 116, 116);
    font-weight: 700;

}
.dream-Web{
    background-image: url(imges/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;
}